-- MySQL dump 10.13  Distrib 5.7.40, for Linux (x86_64)
--
-- Host: localhost    Database: webinar
-- ------------------------------------------------------
-- Server version	5.7.40

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `webinar`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `webinar` /*!40100 DEFAULT CHARACTER SET latin1 */;

USE `webinar`;

GRANT ALL ON *.* to root@'%' IDENTIFIED BY '{{ webinar_root_pw }}';
FLUSH PRIVILEGES;

--
-- Table structure for table `First`
--

DROP TABLE IF EXISTS `First`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `First` (
  `id` int(11) NOT NULL,
  `firstname` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `First`
--

LOCK TABLES `First` WRITE;
/*!40000 ALTER TABLE `First` DISABLE KEYS */;
INSERT INTO `First` VALUES (1,'Alexander'),(2,'Vladimir'),(3,'Oleg'),(4,'Evgeniy'),(5,'Andrew'),(6,'Myke'),(7,'Mihail'),(8,'Stanislav'),(9,'Olga'),(10,'Anastasiya');
/*!40000 ALTER TABLE `First` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Last`
--

DROP TABLE IF EXISTS `Last`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Last` (
  `id` int(11) NOT NULL,
  `lastname` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Last`
--

LOCK TABLES `Last` WRITE;
/*!40000 ALTER TABLE `Last` DISABLE KEYS */;
INSERT INTO `Last` VALUES (1,'Qwe'),(2,'Asd'),(3,'Zxc'),(4,'Ewq'),(5,'Dsa'),(6,'Cxz'),(7,'Qaz'),(8,'Xsw'),(9,'Cde'),(10,'Qsc');
/*!40000 ALTER TABLE `Last` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-01-13 13:06:52
