import random
import subprocess

def application(environ, start_response):

    ips = [{% for num in range(3,backend_count) %}'172.19.0.{{ num }}'{{ ", " if not loop.last else "" }}{% endfor %}]

    query = 'SELECT First.firstname, Last.lastname, @@HOSTNAME FROM First INNER JOIN Last ORDER BY RAND() LIMIT 1;'

    random_ip = random.choice(ips)

    try:
        one_result = [subprocess.check_output(f'mysql webinar -BN -u root -h {random_ip} -p{{ webinar_root_pw }} -e "{query}" 2>&1 | grep -v "Using a password"', shell=True)]
    except:
        one_result = f'Could\'nt connect to the mysql server: {random_ip}'

    query_result = str(one_result).replace('\\t', ' ').split()

    format_string = str(f'{query_result[0]} {query_result[1]} from {query_result[2]}')

    one_object = (str(format_string)[3:-4] + '\n').encode('ascii')

    status = '200 OK'
    headers = [('Content-type', 'text/plain')]
    start_response(status, headers)
    return [one_object]
