import subprocess

def application(environ, start_response):

    ips = [{% for num in range(3,backend_count) %}'172.19.0.{{ num }}'{{ ", " if not loop.last else "" }}{% endfor %}]
    query = 'SELECT First.firstname, Last.lastname, @@HOSTNAME FROM First INNER JOIN Last ORDER BY RAND() LIMIT 1;'
    s_result = []

    for ip in ips:
        try:
            # Вообще здесь всегда будет 0 код ответа, так как команда не выполнится лишь в том случае,
            # если не будет доступна оболочка shell или subprocess модуль. В итоге при ошибке вернется ошибка подключения
            s_result += [subprocess.check_output(f'mysql webinar -BN -u root -h {ip} -p{{ webinar_root_pw }} -e "{query}" 2>&1 | grep -v "Using a password"', shell=True)]
        except:
            s_result += [f'Coud\'nt connect to the mysql server: {ip}']

    mysql_req = ''

    for item in s_result:
        object = str(item)[2:-3]
        mysql_req += object + '\n'

    body = mysql_req.encode('ascii')
    status = '200 OK'
    headers = [('Content-type', 'text/plain')]
    start_response(status, headers)
    return [body]
